{% extends "basic.html" %}
{% block fillContent %}
<!-- DataTales Example -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
    <!-- Area Chart -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Tarea: {{tarea.descripcion}}</h4>
            <a href="{% url 'tarea_edit' pk=tarea.idTarea %}"
               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Editar</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% block content %}
                <table class="table table-bordered" id="tareaData" width="100%" cellspacing="0">
                    <tr>
                        <th>Descripcion:</th>
                        <td>{{tarea.descripcion}}</td>
                    </tr>
                    <tr>
                        <th>Fecha Inicio:</th>
                        <td>{{tarea.fechaIni}}</td>
                    </tr>
                    <tr>
                        <th>Fecha Fin:</th>
                        <td>{{tarea.fechaFin}}</td>
                    </tr>
                    <tr>
                        <th>Proyecto:</th>
                        <td>{{tarea.proyecto}}</td>
                    </tr>
                    <tr>
                        <th>Team:</th>
                        <td>{{tarea.team}}</td>
                    </tr>
                    <tr>
                        <th>Vehiculo:</th>
                        <td>{{tarea.vehiculo}}</td>
                    </tr>
                    <tr>
                        <th>Observacion:</th>
                        <td>{{tarea.observacion}}</td>
                    </tr>
                </table>
                {% endblock %}
            </div>

        </div>
    </div>


</div>

{% endblock %}